{{#partial "contenido"}}
    <div class="home container-fluid">
        <div class="d-flex container-fluid flex-row flex-md-column justify-content-evenly p-0 m-0 w3-animate-opacity w3-animate-right" style="animation-duration: 2s; background-color: rgba(0,0,0,0.17)">
            <h2 class="d-flex flex-column px-5 pt-5 pb-3 justify-content-center align-self-center">Sobre Nosotros</h2>
        </div>
        <div class="d-flex container-fluid flex-column flex-md-row justify-content-evenly p-0 m-0" style="background-color: rgba(0,0,0,0.17)">
            <div class="d-flex flex-column flex-sm-row justify-content-center w3-animate-left w3-animate-opacity" style="animation-duration: 2s;">
                <img class="img-home-1 img-fluid" src="../public/img/nosotros-1.jpg" alt="nosotros" style="width:600px">
            </div>
            <div id="mision" class="container-fluid flex-md-column flex-sm-row p-5 col-md-6 w3-animate-bottom w3-animate-opacity" style="animation-duration: 2s;">
                <h3 class="d-flex flex-row px-5 pt-5 pb-3 justify-content-center align-self-center">MISIÓN</h3>
                <p class="d-flex flex-column text-wrap px-5 descripcion">Nuestra misión es reducir el hambre y promover la solidaridad en nuestra comunidad.</p>
                <p class="d-flex flex-column text-wrap px-5 descripcion">Queremos brindar una alternativa digna para que las personas con menos recursos puedan acceder a alimentos sin enfrentar barreras o estigmas.</p>
                <p class="d-flex flex-column text-wrap px-5 descripcion">Trabajamos para fomentar una red de apoyo en la que vecinos, comercios y voluntarios se sumen a esta iniciativa para mantener nuestras heladeras llenas y funcionando.</p>           </div>
        </div>
        <div id="equipo" class="d-flex container-fluid flex-column flex-md-row justify-content-evenly p-0 m-0" style="background-color: rgba(0,0,0,0.17)">
            <div class="d-flex flex-column flex-sm-row justify-content-center w3-animate-left w3-animate-opacity" style="animation-duration: 2s;">
                <img class="img-home-1 img-fluid" src="../public/img/nosotros-2.jpg" alt="niños contentos" style="width:600px">
            </div>
            <div class="container-fluid flex-md-column flex-sm-row p-5 col-md-6 w3-animate-bottom w3-animate-opacity" style="animation-duration: 2s;">
                <h3 class="d-flex flex-row px-5 pt-5 pb-3 justify-content-center align-self-center">NUESTRO EQUIPO</h3>
                <p class="d-flex flex-row text-wrap px-5 descripcion">Nuestro equipo está formado por personas apasionadas que dedican su tiempo y esfuerzo a esta causa.</p>
                <p class="d-flex flex-row text-wrap px-5 descripcion">Desde quienes coordinan las donaciones hasta quienes se encargan de la limpieza y el mantenimiento de las heladeras, cada uno de nosotros tiene un rol fundamental en este proyecto.</p>
                <p class="d-flex flex-row text-wrap px-5 descripcion">Creemos en la colaboración y en el impacto que cada pequeña acción puede tener en la vida de quienes más lo necesitan.</p>
            </div>
        </div>
        <div id="testimonios" class="d-flex container-fluid flex-column flex-md-row justify-content-evenly p-0 m-0" style="background-color: rgba(0,0,0,0.17)">
            <div class="d-flex flex-column flex-sm-row justify-content-center w3-animate-left w3-animate-opacity" style="animation-duration: 2s;">
                <img class="img-home-1 img-fluid" src="../public/img/nosotros-3.jpg" alt="niña feliz" style="width:600px">
            </div>
            <div class="container-fluid flex-md-column flex-sm-row p-5 col-md-6 w3-animate-bottom w3-animate-opacity" style="animation-duration: 2s;">
                <h3 class="d-flex flex-row px-5 pt-5 pb-3 justify-content-center align-self-center">TESTIMONIOS</h3>
                <p class="d-flex flex-row text-wrap px-5 descripcion"><i>"Es increíble ver cómo la solidaridad de todos ayuda a quienes realmente lo necesitan. Este proyecto me hace sentir que juntos podemos hacer una diferencia."</i><br>— Lucía, voluntaria.</p>
                <p class="d-flex flex-row text-wrap px-5 descripcion"><i>"Siempre me siento agradecido cuando veo una heladera solidaria en mi camino. Poder acceder a alimentos sin sentir vergüenza me ha dado esperanza."</i><br>— Miguel, beneficiario.</p>
                <p class="d-flex flex-row text-wrap px-5 descripcion"><i>"Ser parte de este equipo me llena de orgullo. Es un esfuerzo colectivo donde todos ponemos algo de nosotros para que nadie pase hambre."</i><br>— Juan, voluntario.</p>
            </div>
        </div>
    </div>
{{/partial}}

{{>templates/layout}}