{{#partial "contenido"}}
    <div class="home container-fluid">
        <div class="d-flex container-fluid flex-column flex-md-row justify-content-evenly p-0 m-0" style="background-color: rgba(0,0,0,0.70)">

            <div class="d-flex flex-column flex-sm-row justify-content-center w3-animate-left w3-animate-opacity" style="animation-duration: 2s;">
                <a href="/donacion/index/donaciondinero">
                    <img class="img-home-1 img-fluid img-hover-gray" src="../public/img/donacion-dinero.png" alt="ni単os contentos" style="width:600px">
                </a>
            </div>
            <div class="d-flex flex-column flex-sm-row justify-content-center w3-animate-right w3-animate-opacity" style="animation-duration: 2s;">
                <a href="/donacion/index/donacionvianda">
                    <img class="img-home-1 img-fluid img-hover-gray" src="../public/img/donacion-vianda.png" alt="ni単os contentos" style="width:600px">
                </a>
            </div>

        </div>
        <div class="d-flex container-fluid flex-column flex-md-row justify-content-evenly p-0 m-0" style="background-color: rgba(0,0,0,0.70)">
            <div class="d-flex flex-column flex-sm-row justify-content-center w3-animate-bottom w3-animate-opacity" style="animation-duration: 2s;">
                <a href="/donacion/index/donaciondistribucion">
                    <img class="img-home-1 img-fluid img-hover-gray" src="../public/img/distribucion-vianda.png" alt="ni単os contentos" style="width:600px">
                </a>
            </div>
            <div class="d-flex flex-column flex-sm-row justify-content-center w3-animate-bottom w3-animate-opacity" style="animation-duration: 2s;">
                <a href="/donacion/index/donacionheladera">
                    <img class="img-home-1 img-fluid img-hover-gray" src="../public/img/colocar-heladera.png" alt="ni単os contentos" style="width:600px">
                </a>
            </div>
        </div>
    </div>
{{/partial}}

{{>templates/layout}}