{{#partial "contenido"}}
    <div class="home container-fluid">
        <div class="d-flex container-fluid flex-column flex-md-row justify-content-evenly p-0 m-0">
            <div class="d-flex flex-column flex-sm-row justify-content-center w3-animate-left w3-animate-opacity" style="animation-duration: 2s;">
                <img class="img-home-1 img-fluid" src="../public/img/portada-home.png" alt="niños contentos" style="width:650px">
            </div>
            <div class="container-fluid flex-md-column flex-sm-row p-5 col-md-6 w3-animate-bottom w3-animate-opacity" style="animation-duration: 2s;">
                <h2 class="d-flex flex-row flex-sm-column px-5 pt-5 pb-3 justify-content-center align-self-center">APOYANDO A COMUNIDADES VULNERABLES</h2>
                <p class="d-flex flex-row flex-sm-column text-wrap px-5 descripcion">Estamos dedicados a proporcionar a las comunidades vulnerables los recursos necesarios, distribuyendo heladeras y viandas para mejorar su acceso a alimentos frescos y esenciales, y así potenciar su calidad de vida.</p>
                <a class="btn btn-primary m-5 d-flex flex-column" href="/donacion/index" role="button">DONAR</a>
            </div>
        </div>
        <div class="d-flex flex-row flex-sm-column justify-content-center align-self-center w3-animate-zoom" style="animation-duration: 2s;">
            <img class="img-home-2 img-fluid" src="../public/img/resultados-home.png" alt="resultados" style="height: 200px; padding: 20px;">
        </div>
    </div>
{{/partial}}

{{>templates/layout}}