{{#partial "contenido"}}
    <div class="container-report">
        <p class="form_title">Registrar persona vulnerable</p>

        <div class="form_content">
            <!-- Form fields section -->
            <div class="form_fields">
                <div class="form_field">
                    <label class="form_label">Nombre</label>
                    <input type="text" name="nombre" placeholder="Value">
                </div>
                <div class="form_field">
                    <label class="form_label">Apellido</label>
                    <input type="text" name="apellido" placeholder="Value">
                </div>
                <div class="form_field">
                    <label class="form_label">Sexo</label>
                    <input type="text" name="sexo" placeholder="Value">
                </div>
                <div class="form_field">
                    <label class="form_label">Edad</label>
                    <input type="text" name="edad" placeholder="Value">
                </div>
                <div class="form_field">
                    <label class="form_label">Direcci칩n</label>
                    <input type="text" name="direccion" placeholder="Value">
                </div>
                <div class="form_field">
                    <label class="form_label">Tipo de documento</label>
                    <select name="tipoDocumento">
                        <option value="">Elije una opci칩n</option>
                        <!-- Add specific document types as options if needed -->
                    </select>
                </div>
                <div class="form_field">
                    <label class="form_label">Nro de documento</label>
                    <input type="text" name="numeroDocumento" placeholder="Value">
                </div>
                <div class="form_field">
                    <label><input type="checkbox" name="situacionCalle"> No est치 en situaci칩n de calle</label>
                </div>
                <div class="form_field">
                    <label><input type="checkbox" name="tieneHijos"> Tiene menores a cargo</label>
                </div>
                <div class="form_field">
                    <label class="form_label">Cantidad de menores</label>
                    <input type="text" name="cantidadHijos" placeholder="Value">
                </div>
            </div>

            <!-- Image and button section -->
            <div class="image_section">
                <img src="../public/img/imagen-camara.png" alt="Camera Icon" class="camera_icon">
                <button type="button" class="photo_button">
                    <img src="../public/img/camera.png" alt="Camera Icon"> Tomar foto
                </button>
                <button type="button" class="attach_button">
                    <img src="../public/img/attach.png" alt="Attach Icon"> Adjuntar
                </button>
            </div>
        </div>

        <button type="submit" class="submit_button">Registrar</button>
    </div>
{{/partial}}
{{> templates/layout}}
